# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/
next-env.d.ts
*.tsbuildinfo

# testing
coverage/
playwright-report/
test-results/

# env — JANGAN commit nilai rahasia
.env
.env.*
!.env.example

# supabase local
supabase/.branches/
supabase/.temp/

# os / editor
.DS_Store
*.log
.vercel
